.title {
  font: 40px/48px sans-serif;
  font-weight: 500;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.main {
  display: flex;
  gap: 100px;
  margin: 0 auto;
}

@media screen and (max-width: 650px) {
  .main,
  .titleContainer {
    flex-direction: column;
  }
}
